@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&family=Playfair+Display:ital@0;1&display=swap');

:root {
    /* colors */
    --primary-color: #f5c518ff;
    --secondary-color: #d72638ff;
    --tertiary-color: #2f2f2fff;
    --light-grey: #f5f3eeff;
    --dark-grey: #1e1e1eff;

    /* --primary-color: var(--bright-amber);
    --secondary-color: var(--classic-crimson);
    --bg-color: var(--carbon-black);
    --card-bg: var(--graphite);
    --text-color: var(--parchment); */

    /* Fonts */
    --font-heading: "Bebas Neue", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;

    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

body {
    margin: 50px;
    font-family: var(--font-body);
    background-color: var(--tertiary-color);
    color: var(--light-grey);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    letter-spacing: 1px;
}

.serif-text {
    font-family: var(--font-serif);
}

/*Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.movie-card {
    animation: fadeIn 0.5s ease-out forwards;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--tertiary-color);
    border-bottom: 2px solid var(--primary-color);
}

.logo a {
    text-decoration: none;
    font-family: var(--font-heading);
    font-size: 2.5rem;
    color: var(--light-grey);
}

.logo-w {
    color: var(--primary-color);
}

.logo-2 {
    color: var(--secondary-color);
    font-size: 1.8rem;
    vertical-align: super;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: var(--light-grey);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--primary-color);
}

/* Details page */
.movie-detail-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.movie-header {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.movie-header img {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    width: 100%;
}

.movie-info {
    flex: 1;
    min-width: 300px;
}

.movie-info h1 {
    font-size: 3rem;
    margin-top: 0;
    color: var(--primary-color);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--card-bg);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.movie-card {
    background-color: var(--card-bg);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px var(--primary-color)
}

.movie-card a {
    text-decoration: none;
    color: var(--text-color);
}

.movie-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.movie-card h3 {
    padding: 0.5rem;
    margin: 0;
    font-size: 1.1rem;
    color: var(--parchment);
}

.movie-card p {
    padding: 0 0.5rem 1rem;
    color: var(--primary-color);
    font-weight: bold;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--secondary-color);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-weight: bold;
}

.remove-btn:hover {
    background-color: darkred;
    transform: scale(1.1);
}